//
//  Mobile
//  _____________________________________________

@media all and (max-width: @screen__s) {
    .logo {
        margin-top: 15px;
    }
}

@media all and (max-width: @screen__m) {
    .logo > img {
        max-height: 55px;
    }

    .header {
        &.content { 
            .lib-css(border-bottom, 1px solid @color-gray80);
        }
    }

    .nav-sections {
        #store\.settings > div {
            display: none;
        }

        #store\.settings #switcher-language-nav {
            .lib-css(background-color, @idea-color-soft-pink);
            display: block;
            position: fixed;
            bottom: 0;
            width: 100vw;
            text-align: center;
            padding: 10px 0;

            .switcher-label {
                .lib-text-hide()
            }

            .switcher-options {
                display: inline-block;
            }

            .view-default {
                .lib-css(border, 1px solid @idea-color-pink);
                .lib-css(background-color, @color-pink1);
                padding: 10px 30px 10px 10px;
                span {
                    .lib-css(color, @idea-color-deep-pink);
                    .lib-css(font-weight, @font-weight__semibold);
                    text-transform: uppercase;
                }
            }

            .active .view-default {
                border-bottom: none;
            }

            .view-default::after {
                right: 10px;
                top: 12px;
                .lib-css(color, @idea-color-deep-pink);
                .lib-font-size(12);
            }

            .switcher-dropdown {
                .lib-css(background-color, @color-pink1);
                .lib-css(border, 1px solid @idea-color-pink);
                border-top: none;
            }
        }

        #store\.links {
            .header.links {
                li {
                    display: none;
                }

                li:first-child {
                    .lib-font-size(21);
                    display: block;
                    text-align: center;
                    text-transform: uppercase;
                    margin-bottom: 20px;
                    a {
                        .lib-icon-font(
                            @icon-user,
                            @_icon-font-size: 28px,
                            @_icon-font-color: @header-icons-color,
                            @_icon-font-color-hover: @header-icons-color-hover
                        );
                        &:before {
                            position: relative;
                            left: -10px;
                        }
                    }
                }
            }
        }

        #store\.menu {
            font-family: @font-family-name__menu;
        }
    }
}
