//
//  Navigation
//  ---------------------------------------------

@navigation__background: @color-white;
@navigation-level0-item__color: @color-black;
@navigation-level0-item__font-size: 21px;
@navigation-level0-item__padding: 16px @indent__xl 16px 15px;

//
//  Header
//  ---------------------------------------------

@header-icons-color: @color-black;

//
//  Typography
//  ---------------------------------------------

@font-family-name__menu: 'Libre Baskerville';

//
//  Icons
//  ---------------------------------------------

@icons__font-path: '@{baseDir}fonts/idea-icons/idea';
@icons__font-name: 'idea';
@icon-menu: '\e904';
@icon-cart: '\e900';
@icon-search: '\e905';
@icon-up: '\e902';
@icon-down: '\e906';
@icon-remove: '\e901';
@icon-user: '\e903';